{% extends 'layout.html' %}
{% block content %}
<form action="" method="post">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" value="{{saves['firstname']}}">
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" value="{{saves['lastname']}}">
        <ul>
            {% for color in options['secondary'] %}
                <label for="" style="color:{{ color }}">{{ color }}</label>
                <input type="radio" name="colors" value="{{ color }}" {% if saves["colors"] == color %} checked {% endif %}><br>
            {% endfor %}
        </ul>
        <input type="submit" value="Update">

    </form>
    
{% endblock %}

<title>{% block title %}Howdy- {{ super() }}{% endblock %}</title>